// ETC IDE 资源文件
// 对话框: 1 = 新建项目向导  2 = 项目属性
#pragma code_page(65001)
#include <windows.h>
#include <winres.h>

1 DIALOGEX 0, 0, 330, 196
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "新建 ETC 项目 - ETC IDE"
FONT 9, "Microsoft YaHei", 400, 0, 0x86
BEGIN
    LTEXT "项目名称(&N):", -1, 12, 14, 70, 10
    EDITTEXT 101, 88, 12, 230, 14, ES_AUTOHSCROLL
    LTEXT "保存位置(&D):", -1, 12, 36, 70, 10
    EDITTEXT 102, 88, 34, 200, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON "浏览...", 109, 292, 33, 28, 16
    CONTROL "Windows EXE", 103, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 88, 56, 110, 12
    CONTROL "Android APP", 104, "BUTTON", BS_AUTORADIOBUTTON, 200, 56, 110, 12
    CONTROL "创建 main.ce（主入口）", 105, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 88, 78, 220, 12
    CONTROL "创建 config.ec（项目配置）", 106, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 88, 94, 220, 12
    CONTROL "创建 utils.ru（运行时工具）", 107, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 88, 110, 220, 12
    CONTROL "创建 ui.ca（界面类库）", 108, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 88, 126, 220, 12
    DEFPUSHBUTTON "创建", IDOK, 155, 168, 65, 16
    PUSHBUTTON "取消", IDCANCEL, 235, 168, 65, 16
END

2 DIALOGEX 0, 0, 345, 300
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "项目属性 - ETC IDE"
FONT 9, "Microsoft YaHei", 400, 0, 0x86
BEGIN
    CONTROL "Windows EXE", 301, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 12, 12, 100, 12
    CONTROL "Android APP", 302, "BUTTON", BS_AUTORADIOBUTTON, 130, 12, 100, 12
    LTEXT "产品名称:", -1, 12, 36, 95, 10
    EDITTEXT 303, 115, 34, 218, 14, ES_AUTOHSCROLL
    LTEXT "文件说明:", -1, 12, 58, 95, 10
    EDITTEXT 304, 115, 56, 218, 14, ES_AUTOHSCROLL
    LTEXT "公司名称:", -1, 12, 80, 95, 10
    EDITTEXT 305, 115, 78, 218, 14, ES_AUTOHSCROLL
    LTEXT "版权信息:", -1, 12, 102, 95, 10
    EDITTEXT 306, 115, 100, 218, 14, ES_AUTOHSCROLL
    LTEXT "文件版本:", -1, 12, 124, 95, 10
    EDITTEXT 307, 115, 122, 218, 14, ES_AUTOHSCROLL
    LTEXT "产品版本:", -1, 12, 146, 95, 10
    EDITTEXT 308, 115, 144, 218, 14, ES_AUTOHSCROLL
    LTEXT "软件名称:", -1, 12, 170, 95, 10
    EDITTEXT 309, 115, 168, 218, 14, ES_AUTOHSCROLL
    LTEXT "包名:", -1, 12, 192, 95, 10
    EDITTEXT 310, 115, 190, 218, 14, ES_AUTOHSCROLL
    LTEXT "版本号:", -1, 12, 214, 95, 10
    EDITTEXT 311, 115, 212, 218, 14, ES_AUTOHSCROLL
    LTEXT "版本名称:", -1, 12, 236, 95, 10
    EDITTEXT 312, 115, 234, 218, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "确定", IDOK, 165, 272, 65, 16
    PUSHBUTTON "取消", IDCANCEL, 250, 272, 65, 16
END
